OPENAI_API_KEY=your_openai_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
GEMINI_API_KEY=your_gemini_api_key
LLAMA_CLOUD_API_KEY=your_llama_parse_api_key

# LLM defaults
GRAPH_EXTRACTOR_PROVIDER=gemini
GRAPH_EXTRACTOR_MODEL_ID=gemini-3.1-pro-preview
RAG_AGENT_PROVIDER=gemini
RAG_AGENT_MODEL_ID=gemini-2.5-flash

# Vector DB
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

# Graph DB (AuraDB Instance)
NEO4J_URI=neo4j+s://6aa923c8.databases.neo4j.io
NEO4J_USERNAME=6aa923c8
NEO4J_PASSWORD=_rLP5_Hljkcka-pwD9G_ieH6vpNmaX8hH4JDaidMuDU
NEO4J_DATABASE=6aa923c8

# Frontend
FRONTEND_ORIGIN=http://localhost:3000
