fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-community
langchain-core
langgraph
duckduckgo-search
neo4j
qdrant-client
sentence-transformers
llama-parse
pandas
numpy
networkx
openai
anthropic
langchain-openai
langchain-anthropic
langchain-google-genai
fastapi
uvicorn
streamlit
requests
langchain-huggingface
sentence-transformers
langchain-qdrant
celery==5.6.2
redis==7.2.0
python-multipart
